<h1>Carrito ID {{cart._id}}</h1>

<button>
    <a href="/products">Volver</a>
</button>

{{#if products}}
<table>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>

    {{#each products}}
    <tr>
        <td>{{productId._id}}</td>
        <td>{{productId.code}}</td>
        <td>{{productId.title}}</td>
        <td>{{productId.category}}</td>
        <td>${{productId.price}}</td>
        <td>{{quantity}}</td>
    </tr>
    {{/each}}
</table>

{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}