<h1>Bienvenido {{user.name}}!
    {{#if user.admin}} Eres Admin!
    {{else}} Eres User
    {{/if}}
</h1>

<h2>PRODUCTOS: </h2>

<button id="" onclick="viewCart()">Ir Al Carrito</button>

<table>
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Código</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    
        {{#each products}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{code}}</td>
        <td>{{stock}}</td>
        <td>{{category}}</td>
        <td>{{price}}</td>
        <td>{{status}}</td>
        <td>
            <button onclick="addProductToCart('{{id}}')">Agregar Al Carrito</button>
        </td>
    </tr>
    {{/each}}
</table>

{{!-- Flechas de paginacion --}}

<section>

    {{#if hasPrevPage}}
    <a href={{prevLink}}> << Anterior </a>
    {{/if}}

    <h3>{{page}} de {{totalPages}}</h3>

    {{#if hasNextPage}}
    <a href={{nextLink}}> Siguiente >> </a>
    {{/if}}
</section> 

<div>
    <button onclick="logout()">LOGOUT</button>
</div>

<script src="/js/products.js"></script>